@import url(./styles/Header.css);
@import url(./styles/Banner.css);

:root {
  --dark-color: #242424;
  --primary-color: gold;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.loader_bg {
  width: 100%;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  margin: 40px;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.linear_loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.linear_loader::after {
  content: '';  
  width: 96px;
  height: 4.8px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 0.6s ease-in-out infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}
    
.footer {
  padding: 20px;
  color: white;
  text-align: center;
}

.footer a {
  color: var(--primary-color);
}

.footer a:hover{
  font-weight: 800;
  transition: 0.1s ease-in-out;
  overflow: hidden;
}